<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>CLIENT_ID</key>
      <string>919377381997-o6hk9phvtdh43n3asuq1l4r0idq04m3p.apps.googleusercontent.com</string>
      <key>REVERSED_CLIENT_ID</key>
      <string>com.googleusercontent.apps.919377381997-o6hk9phvtdh43n3asuq1l4r0idq04m3p</string>
      <key>PLIST_VERSION</key>
      <string>1</string>
      <key>BUNDLE_ID</key>
      <string>TyDon.PartyUp</string>
    </dict>
    </plist>